<nav class="level navbar is-warning py-2 container">
  <div class="level-item has-text-centered is-justify-content-space-between is-flex-grow-0 is-hidden-mobile">
    <div>
      <p class="has-text-weight-bold is-size-5 has-text-info"><a href="/">View all Bakes</a></p>
    </div>
  </div>
  <div class="level-item has-text-centered is-justify-content-space-between is-flex-grow-0 is-hidden-mobile">
    <div>
      <p class="heading">Category</p>
      <p class="has-text-weight-bold is-size-5">{{bake.category.label}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered is-justify-content-space-between is-flex-grow-0">
    <div>
      <p class="title">{{bake.title}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered is-justify-content-space-between is-flex-grow-0 is-hidden-mobile">
    <div>
      <p class="heading">Success?</p>
      <p class="has-text-weight-bold">
        {% if bake.success %}
        <span class="icon has-text-primary">
          <i class="fas fa-thumbs-up is-size-4"></i>
        </span>
        {% else %}
        <span class="icon has-text-danger">
          <i class="fas fa-thumbs-down is-size-4"></i>
        </span>
        {% endif %}
      </p>
    </div>
  </div>
  <div class="level-item has-text-centered is-justify-content-space-between is-flex-grow-0 is-hidden-mobile">
    <div>
      <p class="heading">Link</p>
      <p class="has-text-weight-bold is-size-5 has-text-info"><a href="{{bake.recipe_url}}" target="_blank">View Recipe</a></p>
    </div>
  </div>
</nav>
