<nav class="level navbar is-warning py-2">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Bakes</p>
      <p class="title">{{bakes_list|length}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Categories</p>
      <p class="title">{{category_count}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="title">Weekly Baking Challenge</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Successes</p>
      <p class="title">{{successes_count}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Failures</p>
      <p class="title">{{failures_count}}</p>
    </div>
  </div>
</nav>
